:root {
  --mainColor: #08a6e4;
  --mainShadowColor: rgba(7, 172, 230, 0.16);
  --redAccent: #fb3b64;
  --greenAccent: #55dfb4;
  --black: #000000;
  --grey: #a5a5a5;
  --lightGrey: #f7f7f7;
  --white: #ffffff;
  --fontSans: "Open Sans", sans-serif;
  --fontRaleway: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1352px;
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo {
  text-decoration: none;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  color: #08a6e4;
  text-align: left;
  width: 142px;
  height: 37px;
  align-self: center;
  margin: 20px;
  letter-spacing: 0px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav-list {
  display: flex;
}

.page-nav .page-nav-list li a {
  text-decoration: none;
  height: 15px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: grey;
  padding: 20px 0;
  margin: 0 42.5px;
  letter-spacing: 3.28px;
}

.page-nav .page-nav-list li a:hover {
  color: black;
  border-bottom: 4px solid #08a6e4;
}

.containerMainSellMore {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.containerMainSellMore_center {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.containerMainSellMore h1 {
  color: black;
  text-align: center;
  letter-spacing: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 49px;
}
.containerMainSellMore p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  letter-spacing: 0;
  margin-top: 15px;
}

.blueButton {
  margin-top: 38px;
  padding: 22px 157px;
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  white-space: nowrap;
}

.backgroundImg {
  width: 100%;
}

.mostPopular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mostPopular h2 {
  text-align: center;
  font-family: var(--fontRaleway);
  font-size: 36px;
  letter-spacing: 0;
  color: var(--black);
  margin: 100px;
}

.numbers {
  display: flex;
}
.numbers .circle {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.numbers > div {
  display: flex;
  width: 167px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.red {
  background-color: var(--redAccent);
}

.red::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../assets/Person.svg);
  width: 44px;
  height: 52px;
  right: -13px;
  bottom: 6px;
}

.blue {
  background-color: var(--mainColor);
}

.green {
  background-color: var(--greenAccent);
}


