:root {
  --mainColor: #08a6e4;
  --mainShadowColor: rgba(7, 172, 230, 0.16);
  --redAccent: #fb3b64;
  --greenAccent: #55dfb4;
  --black: #000000;
  --grey: #a5a5a5;
  --lightGrey: #f7f7f7;
  --white: #ffffff;
  --fontSans: "Open Sans", sans-serif;
  --fontRaleway: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1352px;
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo {
  text-decoration: none;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  color: #08a6e4;
  text-align: left;
  width: 142px;
  height: 37px;
  align-self: center;
  margin: 20px;
  letter-spacing: 0px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav-list {
  display: flex;
}

.page-nav .page-nav-list li a {
  text-decoration: none;
  height: 15px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: grey;
  padding: 20px 0;
  margin: 0 42.5px;
  letter-spacing: 3.28px;
}

.page-nav .page-nav-list li a:hover {
  color: black;
  border-bottom: 4px solid #08a6e4;
}

.containerMainSellMore {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.containerMainSellMore_center {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.containerMainSellMore h1 {
  color: black;
  text-align: center;
  letter-spacing: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 49px;
}
.containerMainSellMore p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  letter-spacing: 0;
  margin-top: 15px;
}

.blueButton {
  margin-top: 38px;
  padding: 22px 157px;
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  white-space: nowrap;
}

.backgroundImg {
  width: 100%;
}

.mostPopular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mostPopular h2 {
  text-align: center;
  font-family: var(--fontRaleway);
  font-size: 36px;
  letter-spacing: 0;
  color: var(--black);
  margin: 100px;
}

.numbers {
  display: flex;
  width: 68%;
  justify-content: space-evenly;
}
.numbers .circle {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.numbers > div {
  display: flex;
  width: 167px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/* ----dodawanie kolorow i ikonek dla kółek----- */

.red {
  background-color: var(--redAccent);
}

.numbers .red::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../assets/Person.svg);
  width: 44px;
  height: 52px;
  right: -13px;
  bottom: 6px;
}

.blue {
  background-color: var(--mainColor);
}

.numbers .blue::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../assets/Eye.svg);
  background-repeat: no-repeat;
  width: 68px;
  height: 52px;
  right: -29px;
  bottom: -2px;
}

.green {
  background-color: var(--greenAccent);
}

.numbers .green::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../assets/Catalog.svg);
  background-repeat: no-repeat;
  width: 52px;
  height: 54px;
  right: -20px;
  bottom: 6px;
}

/* ------pogrubiłam liczby ------*/

.numbers > .redHead .bold-text {
  text-align: center;
  font-family: var(--fontRaleway);
  font-weight: bold;
  letter-spacing: 5.96px;
  color: var(--black);
  width: 116px;
  height: 24px;
}

.numbers > .blueEye .bold-text {
  text-align: center;
  font-family: var(--fontRaleway);
  font-weight: bold;
  letter-spacing: 5.96px;
  color: var(--black);
  width: 116px;
  height: 24px;
}

.numbers > .greenPost .bold-text {
  text-align: center;
  font-family: var(--fontRaleway);
  font-weight: bold;
  letter-spacing: 5.96px;
  color: var(--black);
  width: 116px;
  height: 24px;
}

/* ------dodałam kolor light grey pod liczbami -------*/

.redHead > .light-grey-text {
  display: flex;
  font-family: var(--fontRaleway);
  font-weight: normal;
  color: var(--grey);
  text-align: center;
  letter-spacing: 0;
}

.blueEye > .light-grey-text {
  display: flex;
  font-family: var(--fontRaleway);
  font-weight: normal;
  color: var(--grey);
  text-align: center;
  letter-spacing: 0;
}

.greenPost > .light-grey-text {
  display: flex;
  font-family: var(--fontRaleway);
  font-weight: normal;
  color: var(--grey);
  text-align: center;
  letter-spacing: 0;
}

/* -----sekcja BENEFITS ----------*/

.benefits {
  display: flex;
  justify-content: center;
  background-color: var(--lightGrey);
  flex-direction: column;
  align-items: center;
}

.blocks-container {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 30px;
  height: 370px;
}

.blocks-container:nth-child(2) {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 30px;
  height: 370px;
  flex-direction: row-reverse;

}
.blocks-container.laptop {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 100px;
}

.blocks-container.laptop .left {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  /* box-sizing: border-box; */
  /* padding-left: 60px;
} */
}

.blocks-container.laptop h2 {
  font-size: 36px;
  color: var(--black);
  text-align: left;
  /* margin: 20px;
  padding: 33px; */
}

.blocks-container.laptop p {
  font-family: var(--fontSans);
  font-size: 16px;
  text-align: left;
  letter-spacing: 0;
  /* margin: 20px;
  padding: 33px; */
}


/* pozycjonowanie laptopa i kwadratu */

.laptop-img {
  width: 162%;
  position: absolute;
  transform: rotate(-45deg);
  right: -68px;
  top: 72px;
}

.square {
  background-color: var(--redAccent);
  width: 200px;
  height: 200px;
  border-radius: 40px;
  transform: rotate(45deg);
}

.line {
  display: block;
  width: 60%;
  height: 4px;
  border-radius: 50px;
}
/* .line.blue {
 
} */

.left,
.right {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* pozycjonowanie telefonu  */

.blocks-container.telephone .left {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  /* box-sizing: border-box; */
  /* padding-left: 60px;
} */
}

.blocks-container.telephone {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 100px;
}

.blocks-container.telephone h2 {
  font-size: 36px;
  color: var(--black);
  text-align: start;
  /* margin: 20px;
  padding: 33px; */
}

.blocks-container.telephone p {
  font-family: var(--fontSans);
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  text-align: -webkit-left;
  /* margin: 20px;
  padding: 33px; */
}

.circle-telephone {
  background-color: var(--mainColor);
  width: 23%;
  border-radius: 50%;
  position: absolute;

}

.telephone-img {
  width: 130%;
  position: relative;
  top: 35px;
  left: 18px;
}

.telephone .right {
  align-items: center;
}
