@import "generic/_reset";

:root {
  --mainColor: #08a6e4;
  --mainShadowColor: rgba(7, 172, 230, 0.16);
  --redAccent: #fb3b64;
  --greenAccent: #55dfb4;
  --black: #000000;
  --grey: #a5a5a5;
  --lightGrey: #f7f7f7;
  --white: #ffffff;
  --fontSans: "Open Sans", sans-serif;
  --fontRaleway: "Raleway", sans-serif;
}


@import "elements/base";
@import "elements/header";
@import "elements/header.mobile";
@import "elements/content";
@import "elements/content.mobile";
@import "elements/footer";


