@media (max-width: 950px) {
  .form-container {
    flex-direction: column;
    height: auto;
    align-items: center;

    .left-side-form {
      display: flex;
      h2 {
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
    form {
      margin-top: 60px;
    }
  }
}
@media (max-width: 840px) {
  .blocks-container {
    flex-direction: column-reverse;
    height: auto;

    &.trumpet {
      margin-bottom: 0;
      flex-direction: column;
      // width: 100%;
      .left {
        width: 100%;
        margin: 0;
        padding: 49px 5% 52px 5%;
      }
      .right {
        width: 100%;
        margin: 0;
      }
    }
    &.telephone .left h2 {
      margin-top: 34px;
    }
    .circle-telephone {
      width: 19%;
      margin-top: 128px;
    }

    .square {
      margin-right: -73px;
    }

    .left {
      margin-top: 64px;
      width: 100%;
    }
    .right {
      margin-bottom: 54px;
    }
    &:nth-child(2) {
      flex-direction: column-reverse;
      height: auto;
    }
  }
  .pricing-box {
    width: 100%;
    .packages {
      flex-direction: column;
      align-items: center;
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: auto;
        width: 85%;
      }
      .professional {
        height: auto;
        width: 90%;
      }
    }
  }

  .h3p {
    background-color: white;
  }

  .form-container {
    .left-side-form {
      width:75%;
    }
    .form-icons {
      flex-direction: column;
      gap:10px;
      margin-top:8px;
    }
  }

  form {
    width: 75%;
    p {
      margin-left: 20px;
    }
  }
}

@media (max-width: 840px) {
  .line {
    display: none;
  }
  .right {
    width: unset;
  }
  .blocks-paragraph {
    margin-top: 30px;
  }
}

@media (max-width: 650px) {
  .form-icons {
    display: flex;
    flex-direction: column;

    .info-email {
      margin-bottom: 19px;
      margin-left: unset;
    }
    .telephone-number {
      margin-left: unset;
    }
  }
  .blocks-paragraph {
    margin-top: 50px;
  }
}

@media (max-width: 470px) {
  .containerMainSellMore_center {
    align-items: center;

    .blueButton {
      width: fit-content;
      padding: 22px 75px;
    }
  }
}

@media (max-width: 470px) {
  .numbers {
    flex-direction: column;
    align-items: center;
    & > div {
      margin: 30px auto;
    }
  }
  .form-container h1 {
    font-size: 28px;
  }
  .form-container .send-button {
    align-self: center;
  }
  .mostPopular h2 {
    margin: 56px 8%;
    font-size: 30px;
  }
  .square {
    width: 100px;
    height: 100px;
    margin-right: -98px;
    .laptop-img {
      width: 218%;
    }
  }
  .blocks-container.telephone h2 {
    margin-top: 26px;
  }
  .telephone .circle-telephone {
    width: 35%;
    margin-top: 102px;
    .telephone-img {
      width: 130%;
      top: 7px;
      left: -1px;
    }
  }
}
