@media (max-width: 1374px) {
    .footer-container {
        background-color: white;
        margin-top: 35px;
    }
    .footer {

padding-left: 10px;

.footer-images {

padding-right: 17px;
}
    
}
}